.cartContainer {
  height: 100%;

  @include mobile {
    overflow: auto;
  }
}

.productContainer {
  min-height: 500px;

  @include mobile {
    min-height: 0;
  }
}

.cart-title {
  color: #2f54eb;
  font-size: 30px;
}

.iconButton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  height: 400px;
  margin-top: 30px;

  .iconText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
  }
}

.cartProductContainer {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid $gray-6;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  flex-wrap: wrap;
  position: relative;
  padding-right: 220px;

  &:last-child {
    border: none;
  }

  p {
    margin: 0;
    color: $gray-10;
    font-size: 12px;
  }

  img {
    height: 47px;
    width: 47px;
    object-fit: cover;
  }

  div {
    margin-right: 30px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .imgTitle {
    min-width: 200px;

    p {
      color: $lightblue-6;
      font-size: 14px;
    }

    img {
      margin-right: 20px;
    }
  }

  .btnContainer {
    position: absolute;
    right: 0;

    @include mobile {
      position: inherit;
    }

    @include tablet {
      position: inherit;
    }
  }

  .productDescription {
    min-width: 120px;
    text-align: left;
    display: flex;
    align-items: center;

    @media (min-width: 1250px) {
      min-width: 150px;
    }
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25%;

    .descriptionContainer {
      flex-direction: column;
    }

    img {
      position: absolute;
      top: 50px;
      left: 5%;
    }
  }
}

.cartProductButton {
  background: $gray-1;
  border-color: $gray-5;
  color: $gray-10;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;

  &:hover {
    border-color: $lightblue-5;
    color: $lightblue-5;
  }
}
.iconButton {
  svg {
    padding-right: 3px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  background-color: $white;
  transition: height 0.3s;

  button {
    margin: 10px;
  }

  .deleteCartButton {
    padding: 8px 16px;
    border-radius: 0.125rem;
    font-size: 14px;
    transition: all 0.3s ease;
    height: 100%;
  }

  @include mobile {
    justify-content: center;
  }

  @include tablet {
    justify-content: center;
  }
}

.scrolled {
  @media (max-width: 1020px) {
    display: none;
  }
}

.invisible {
  @media (min-width: 1020px) {
    display: none;
  }
}

.editButton {
  min-width: 125px;
}

.btnContainer {
  margin: 0;
}
