.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 191px;
  height: 34px;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px $gray-1 solid;
  border-radius: 2px;
  padding: 6px 16px;

  &:hover,
  &:active {
    border-color: $darkblue-5;
  }

  label {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    img {
      height: 18px;
      width: 18px;
      margin-right: 8px;
    }
  }
}

.custom-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 123px;
  padding: 0;
  color: white;

  &:hover {
    &::placeholder {
      color: $darkblue-5;
    }
  }

  &::placeholder {
    color: white;
  }
}
