.desktop-nav-holder {
  position: fixed;
  top: 0;
  z-index: 999;
  @media (max-width: $laptop) {
    display: none;
  }
}

.navigation-desktop {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: $darkblue-6;
  box-sizing: border-box;
  padding: 20px 62px;
  align-items: center;
  justify-content: space-between;
  transition: height 0.3s;

  @media (max-width: $laptop) {
    display: none;
  }
}

.navigation-desktop-top {
  height: 82px;
  padding: 12px 62px;
}

.navigation-desktop .logo {
  margin: 0;
  display: flex;
  align-items: center;

  img {
    height: 42px;
  }
}

.navigation-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
  align-items: center;
  margin: 0;
  gap: 28px;
  padding: 0;
}

.navigation-menu-item {
  button {
    display: flex;
    align-items: center;
  }
}
