.category-homepage h3 {
  margin: auto 176px;
  font-family: $roboto;
  font-style: normal;
  font-weight: 400;
  font-size: $font-subheading;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.title-page {
  font-size: $font-heading-2;
  color: $darkblue-6;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 20px 0;

  h2 {
    color: $darkblue-6;
    font-size: $font-heading-2;
  }
}

.print-homepage h3 {
  font-family: $roboto;
  font-style: normal;
  font-weight: 400;
  font-size: $font-subheading;
  /* gray-11 
    font-color: #1F1F1F;*/
  line-height: 24px;
  /* or 150% */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.ant-layout-footer {
  background-color: #2f54eb;
  color: #fff;
}

.print-card .top {
  overflow: hidden;
  height: 200px;
  position: relative;
}

.print-card .top > img {
  position: absolute;
  width: 100%;
}

.print-card .top-cornered {
  position: absolute;
  bottom: 0;
  height: 16px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  z-index: 1;
  background-color: $gray-3;
}

.print-card .ant-card-body {
  padding: 8px 24px;
  background-color: $gray-3;
}

.print-card .ant-card-meta-title {
  font-family: $roboto;
  font-size: $font-heading-2;
  font-weight: 500;
  color: $darkblue-6;
  line-height: 1.8;
  margin-bottom: 20px 0;
}

.print-card .ant-card-meta-description {
  font-family: $roboto;
  font-size: $baseFontSize;
  font-weight: 400;
  color: $gray-11;
  line-height: 22px;
  margin-bottom: 20px 0;
}

.print-card .ant-card-actions {
  border-top: 0px;
  background-color: $gray-3;
  padding: 0px 8px 16px;
}

.print-card .ant-card-actions > li {
  text-align: left;
}

.print-card-button {
  font-family: $roboto;
  font-size: $baseFontSize;
  font-weight: 400;
  color: $lightblue-6;
  line-height: 24px;
}

.print-homepage {
  display: grid;
  grid-template-columns: minmax(311px, 4fr);
}
