.category-homepage{
    margin: auto 176px;
}


.title-page {
    font-size: $font-heading-2;
    color: $darkblue-6;
    line-height: 1.8;
    text-align: center;
    margin: 24px 0;

    h2{
        color: $darkblue-6;
        font-size: $font-heading-2;
    }
}


.ant-layout-footer {
    background-color: #2F54EB;
    color: #fff;
}

