.category-homepage {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  h2 {
    color: $darkblue-6;
    font-size: $font-large-heading-2;
  }
  p {
    width: 80%;
    text-align: center;
    font-size: $font-subheading;
    color: $gray-11;
  }
  div {
    height: 80%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.category-card {
  margin: 2rem 3rem;
  height: 40rem;
  width: 22rem;
  img {
    width: 100%;
  }
  h3 {
    font-size: $font-heading-2;
  }
  p {
    width: 100%;
    text-align: left;
    font-size: $font-description;
    color: $gray-9;
  }
}

=======
  margin: auto 176px;
}

>>>>>>> origin/staging
.title-page {
  font-size: $font-heading-2;
  color: $darkblue-6;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 20px 0;

  h2 {
    color: $darkblue-6;
    font-size: $font-heading-2;
  }
}
<<<<<<< HEAD
=======

>>>>>>> origin/staging
.print-homepage h3 {
  font-family: $roboto;
  font-style: normal;
  font-weight: 400;
  font-size: $font-subheading;
  /* gray-11 
    font-color: #1F1F1F;*/
  line-height: 24px;
  /* or 150% */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
<<<<<<< HEAD
}

.ant-layout-footer {
  background-color: #2f54eb;
  color: #fff;
=======
>>>>>>> origin/staging
}

.print-card .top {
  overflow: hidden;
  height: 200px;
  position: relative;
}

.print-card .top > img {
  position: absolute;
  width: 100%;
}

.print-card .top-cornered {
  position: absolute;
  bottom: 0;
  height: 16px;
  width: 100%;
  border-radius: 12px 12px 0 0;
  z-index: 1;
  background-color: $gray-3;
}

.print-card .ant-card-body {
  padding: 8px 24px;
  background-color: $gray-3;
}

.print-card .ant-card-meta-title {
  font-family: $roboto;
  font-size: $font-heading-2;
  font-weight: 500;
  color: $darkblue-6;
  line-height: 1.8;
  margin-bottom: 20px 0;
}

.print-card .ant-card-meta-description {
  font-family: $roboto;
  font-size: $baseFontSize;
  font-weight: 400;
  color: $gray-11;
  line-height: 22px;
  margin-bottom: 20px 0;
}

.print-card .ant-card-actions {
  border-top: 0px;
  background-color: $gray-3;
  padding: 0px 8px 16px;
}

.print-card .ant-card-actions > li {
  text-align: left;
}

.print-card-button {
  font-family: $roboto;
  font-size: $baseFontSize;
  font-weight: 400;
  color: $lightblue-6;
  line-height: 24px;
}

.print-homepage {
  display: grid;
  grid-template-columns: minmax(311px, 4fr);
}
