 .navigation {
  width: 100%;
  height: 5.125rem;
  background: $darkblue-6;
  display: flex;
  align-items: center;
  padding: 24px 62px;
  position: absolute;
  justify-content: space-between;
  top: 0;
  transform: translateY(0);
  z-index: map-get($z-index, navigation);
  box-shadow: none;
  @include bezier-transition(transform, 0.3s, ease);

  @include tablet {
    padding: 1.75rem 1rem;
  }

  @include mobile {
    padding: 1.75rem 1rem;
    position: fixed;
  }

  .logo {
    height: inherit;
    margin-right: 3.25rem;
  }

  .logo img {
    width: 11.375rem;
    height: inherit;
    object-fit: contain;
  }

  .logo a {
    display: block;
    height: 100%;
  }
}

.navigation-admin {
  height: 6rem;
  background: $white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  padding: 0.5rem $l-size;
  display: flex;
  justify-content: space-between;
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  text-align: right;
}

.navigation-menu-main {
  padding-left: 0;
  margin-right: 2rem;
  flex-grow: 1;
  margin-top: 1em;
  li {
    display: inline-block;
    @include mobile {
      display: none;
    }

    @include tablet{
      display: none;
    }

    a {
      padding-right: $xxl-size;
      font-size: 1rem;
      color: $white;
    }
  }
}

.navigation-menu-item {
  display: inline-block;
  list-style-type: none;
  padding: 0 0 0 28px;
  margin: 0;
}

.ant-menu-horizontal {
  //margin-top: 52px;
  padding: 0 62px;

  span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    
  }
}




.button-list {
  span {
    @include mobile {
      display: none;
    }
  }
}


.ant-input-affix-wrapper {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}