.price-text {
  font-family: Roboto;
  font-size: 14px;
  color: $darkblue-6;
  padding: 16px 0 0 0;
  text-align: inherit;

  margin-bottom: 0;

  strong {
    font-size: 20px;
  }
}

.product-item {
  text-align: left;
  font-family: Roboto;
  font-style: normal;
}

.product-title {
  font-weight: 500;
  font-size: 30px;
  color: $darkblue-6;
}

.product-price-min {
  font-weight: normal;
  font-size: 14px;
  strong {
    font-weight: 500;
    font-size: 20px;
  }
}

.product-desc {
  font-weight: normal;
  font-size: 14px;
}

.product-material {
    font-weight: normal;
    font-size: 14px;
    color: $lightblue-6;

  }

  .product-property-name {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 14px;
    color: $lightblue-6;
    margin-bottom: 8px;
  }

  .product-property-value {
    font-weight: normal;
    font-size: 14px;
    color: #4a4a4a;
  }


  .product-price {
    font-weight: normal;
    font-size: 16px;
    color: #4a4a4a;
    margin-left: 8px;
  }
  