.auth-container {
  background: #02a7e92c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.auth-form {
  display: flex;
  background: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.auth-sider {
  background: $darkblue-6;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;

  @include mobile {
      display: none;
  }
  @include tablet {
    display: none;
}
}

.auth-logo {
  margin: 20px;
}


.auth-ilustration {
  display: flex;
  margin: 44% 20px 0 0px;
}

.auth-form-container {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.auth-form-inputs {
  width: 38%;
  margin: auto;
  h2 {
    color: $darkblue-6;
    font-weight: bold;
  }
  .color-blue {
    color: $darkblue-6;
  }
}

