* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: $baseFontSize;
  background: $background-color;
  font-weight: bold;
  overflow-x: hidden;
}

main {
  width: 100vw;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

p {
  color: $paragraph-color;
  line-height: $line-height;
}

span {
  font-size: $baseFontSize;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: $heading-color;
}

#app {
  width: 100%;
}

.logo {
  height: 32px;
  margin: 16px;
}

.content {
  width: 100%;
  min-height: 80vh;
  position: relative;
  padding: $top 80px;
  animation: fadeIn 0.5s ease;

  @include mobile {
    padding: 5rem $m-size;
    flex-direction: column;
  }
}

.content-admin {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: relative;
  padding-top: $xxl-size;
  overflow: hidden;
  display: flex;
}

.content-admin-wrapper {
  overflow-y: scroll;
  flex-grow: 1;
  padding: $m-size 0;
  animation: fadeIn 0.5s ease;
  position: relative;
}

footer {
  width: 100vw;
  height: 389px;
  background-color: $darkblue-6;
  padding: 36px 62px;

  img {
    height: 73px;
    width: 73px;
    background-color: $darkblue-5;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 8px;

    @media (max-width: $laptop) {
      height: 58px;
      width: 58px;
    }
  }
}
