:root {
    --nav-bg: $darkblue-6;
    --nav-bg-scrolled: $darkblue-6; 
    --nav-bg-shadow: 0 5px 10px rgba(0, 0, 0, .02);
  }
  
  $background-color: #fff;
  $background-color-01: #f2f2f2;
  
  // Paragraphs
  $paragraph-color: #4a4a4a; // base
  
  // Heading
  $heading-color: #1a1a1a;
  
  // Border 
  $border-color: #e1e1e1;
  $border-color-focus: #c5c5c5;

  
  //Dark Blue

  $darkblue-1: #f0f5ff;
  $darkblue-2: #D6E4FF;
  $darkblue-3: #ADC6FF;
  $darkblue-4: #85A5FF;
  $darkblue-5: #597EF7;
  $darkblue-6: #2F54EB;
  $darkblue-7: #1D39C4;
  $darkblue-8: #10239E;
  $darkblue-9: #061178;
  $darkblue-10: #030852;

    //Light Blue

    $lightblue-1: #e6f7ff;
    $lightblue-2: #bae7ff;
    $lightblue-3: #91d5ff;
    $lightblue-4: #69c0ff;
    $lightblue-5: #40a9ff;
    $lightblue-6: #1890ff;
    $lightblue-7: #096dd9;
    $lightblue-8: #0050b3;
    $lightblue-9: #003a8c;
    $lightblue-10: #002766;



    // Gray

    $gray-1: #fff;
    $gray-2: #fafafa;
    $gray-3: #f5f5f5;
    $gray-4: #f0f0f0;
    $gray-5: #d9d9d9;
    $gray-6: #BFBFBF;
    $gray-7: #8c8c8c;
    $gray-8: #595959;
    $gray-9: #434343;
    $gray-10: #262626;
    $gray-11: #1f1f1f;
    $gray-12: #141414;
    $gray-13: #000000;



  
  // General
  $white: #fff;
  $black: #000;
  $off-black: #303030;
  $off-white: #f0f0f0;
  $red: rgba(247, 45, 45, 0.986);
  $green: rgb(59, 150, 32);
  $yellow: rgb(228, 165, 31);

  // Buttons
  $button-color: $darkblue-6;
  $button-hover: $darkblue-5;
  $button-disable: $gray-3;
 