$nav-height: 6rem;

$xxs-size: 0.25rem;
$xs-size: 0.5rem;
$s-size: 0.75rem;
$m-size: 1rem;
$l-size: 1.25rem;
$xl-size: 1.5rem;
$xxl-size: 1.75rem;
$xxl-2-size: 2rem;
$xxl-3-size: 2.25rem;
$xxl-4-size: 2.5rem;
$xxl-5-size: 3.25rem;
$xxl-6-size: 3.75rem;


$top: 6.625rem;
$top-mobile: 4.875rem;
$bottom: 2.5rem;
$line-height: 2.4rem;

$pad-desktop: 3.88rem;

$z-index: (
  toast: 14,
  navigation: 12,
  content: 10,
  banner: 11,
);