@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$roboto: 'Roboto', sans-serif;

$baseFontSize : 14px;
$font-description : 12px;
$font-subheading: 16px;
$font-heading-1: 24px;
$font-heading-2: 20px;
$font-large-heading-1: 46px;
$font-large-heading-2: 38px;
